<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.15/r-2.1.1/sc-1.4.2/datatables.min.css"/>-->
    <!--<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.15/r-2.1.1/sc-1.4.2/datatables.min.js"></script>-->

    <style type="text/css">
        .main_table {
            width: 100%;
            border:1px solid #C0C0C0;
            border-collapse:collapse;
            padding:5px;
        }
        .main_table th {
            border:1px solid #C0C0C0;
            padding:5px;
            background:#F0F0F0;
        }
        .main_table td {
            border:1px solid #C0C0C0;
            padding:5px;
        }

        .base_line {
            width: 100%;
            /*border:1px solid #C0C0C0;*/
            border-collapse:collapse;
            padding:5px;
        }
        .base_line th {
            border:1px solid #C0C0C0;
            padding:5px;
            background:#F0F0F0;
        }
        .base_line td {
            border:1px solid #C0C0C0;
            padding:5px;
        }
        .inner_table {
            width:100%;
            /*border:1px solid #C0C0C0;*/
            padding:5px;
        }
        .inner_table td {

            border:1px solid #C0C0C0;
            padding:5px;
        }

        /*.long_td {
         max-width : 120px;
         white-space : nowrap;
         overflow : hidden;
       }

       .long_td:hover {
         max-width : initial;
         word-wrap:break-word;
       }
       */
        .long_td {
            max-width : 120px;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
        }
        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    </style>

    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-612da304eac9a72f5d085232387f7f5cd82df6c73120fd97fcf0bdefacbd9b16.css" integrity="sha256-YS2jBOrJpy9dCFIyOH9/XNgt9scxIP2X/PC976y9mxY=" media="all" rel="stylesheet">
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-9e591dcc1f30d2a6ac3773da2f8c05987a4a148bae15713c4be9bb62b6e92b26.css" integrity="sha256-nlkdzB8w0qasN3PaL4wFmHpKFIuuFXE8S+m7YrbpKyY=" media="all" rel="stylesheet">
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/site-f4fa6ace91e5f0fabb47e8405e5ecf6a9815949cd3958338f6578e626cd443d7.css" integrity="sha256-9PpqzpHl8Pq7R+hAXl7PapgVlJzTlYM49leOYmzUQ9c=" media="all" rel="stylesheet">

</header>